{% extends "base.html" %}
{% block body %}
        <div class="row">
          <div class="col-sm-12">
            <div class="page-header">
                <h2>Instances</h2>
            </div>
            <a href="/instance/create"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create Instance</button></a>
            <br /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <th>Instance ID</th>
                        <th>Instance Type</th>
                        <th>Availability Zone</th>
                        <th>Instance State</th>
                        <th>Key Name</th>
                        <th>Launch Time</th>
                        <th>Security Groups</th>
                    </tr>
                </thead>
                <tbody>
                  {% for reservation in reservations %}
                    {% for instance in reservation['Instances'] %}
                    <tr>
                        <td>
                            {% include "instance_actions.html" %}
                        </td>
                        <td>{{ instance['Tags'][0]['Value'] }}</td>
                        <td>{{ instance['InstanceId'] }}</td>
                        <td>{{ instance['InstanceType'] }}</td>
                        <td>{{ instance['Placement']['AvailabilityZone'] }}</td>
                        <td>{{ instance['State']['Name'] }}</td>
                        <td>{{ instance['KeyName'] }}</td>
                        <td>{{ instance['LaunchTime'].strftime("%B %d, %y at %I:%M:%S %p") }}</td>
                        <td>{% for sg in instance['SecurityGroups'] %} <span class="label label-default">{{ sg['GroupName'] }}</span>{% endfor%}</td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
            </table>
    </div>
  </div>
{% endblock %}
